body{
    background: #333;
    margin:0;
    color: white;
}
nav{
    border-bottom: papayawhip 1px solid;
    background-color: #333;
    display: flex;
    height: 65px;
    width: 100%;
    position: fixed;
}
nav ul{
    display: flex;
    list-style: none;
}
nav ul li{
    display: grid;
    justify-content: center;
    align-items: center;
    margin: 10px;
}
nav ul li a{
    text-decoration: none;
    color: white;
}
nav ul li a:hover{
    color: papayawhip;   
}
nav figure{
    height: 50px;
    margin: auto 10px;
}
nav figure img {
    margin: auto;
    height: 100%;
}
.characters {
    width: 100%;    
    position: absolute;
    justify-content: center;
    align-self: center;
    top: 65px;
    margin-top: 4vh;
    z-index: -1;

    display: grid;
    grid-template-columns:repeat(auto-fill, 14vw);
    gap: 8px;
}
.card{
    border: 1px solid;
    border-color: papayawhip;
    display: flexbox;
    border-radius: 16px;
    width: 10vw;
    padding: 2vw;

}
.card figure{
    padding: 0px;
    margin: 0px;
}
.card figure img{
    width: 100%;
    border-radius: 15px;
}
.card h1{
    text-align: center;
}
