body{
    background: black;
    margin:0;
    color: white;
}
nav{
    background-color: #333;
    display: flex;
    height: 65px;
    width: 100%;
    position: fixed;
}
nav ul{
    display: flex;
    list-style: none;
}
nav ul li{
    display: grid;
    justify-content: center;
    align-items: center;
    margin: 10px;
}
nav ul li a{
    text-decoration: none;
    color: white;
}
nav ul li a:hover{
    color: papayawhip;   
}
nav figure{
    height: 50px;
    margin: auto 10px;
}
nav figure img {
    margin: auto;
    height: 100%;
}
.characters {   
    height: auto;
    width: 100%;
    position: absolute;
    justify-content: center;
    top: 65px;
    margin-top: 4vh;
    z-index: -1;
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    gap: 8px;      
}
.card{
    border-radius: 16px;
    width: 350px;
    padding: 16px;
    background: #333;
}
.card figure{
    padding: 0px;
    margin: 0px;
}
.card figure img{
    width: 100%;
    border-radius: 15px;
}
.card h1{
    text-align: center;
}
@media screen and (max-width: 800px) {
    .card{
        width:350px;
    }
}
