body{
    background: palevioletred;
}

section.addPerson{
    display: flex;
    flex-direction: column;
    place-items: center;
}
.personForm{
    width: 50%;
    display: grid;
    place-items: center;
}
.personForm form{ 
    border-radius: 16px;
    background: pink;
    padding: 25px;
    margin: 16px; 
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.personForm form input{
    border:none;
    border-radius: 4px;
}
.personForm form button{
    border: none;
    background: lightblue;
    border-radius: 4px;
}
.personForm label{
    color: white;
}
.addPerson div table th{
    padding: 6px;
}
table{
    border-collapse: collapse;
    background: white;
    color: black;
}
table tr th img{
    height: 200px;
    width: auto;
}